[2017-08-01 17:50] hopehhchen opened #2 "Range of radii used in background subtraction"
The current codes do not allow selection of the radius range by (min, max).

[2017-08-01 18:06] hopehhchen commented on #2
Maybe this could be fixed by merging the current `bgdist` and `bgdistfrom` to one parameter that takes a 2-tuple or 2-list representing the minimum and the maximum radii.  This would be something similar to the `bounds` parameter in `scipy.optimize.curve_fit` or `astropy.modeling.models`.

When the new input parameter takes a tuple like (5., numpy.inf), it will be equivalent to "using all data poi

[2017-08-01 18:12] hopehhchen opened #3 "Outlier removal"
Apply outlier removal in background subtraction, and maybe in profile fitting as well.

This is done mostly by sigma clipping in `astropy.modeling`.  See [documentation](http://docs.astropy.org/en/stable/api/astropy.modeling.fitting.FittingWithOutlierRemoval.html#astropy.modeling.fitting.FittingWithOutlierRemoval) and [examples](http://docs.astropy.org/en/stable/modeling/fitting.html).

[2017-08-03 00:43] catherinezucker commented on #2
Sounds like a plan! I can implement this one.

[2017-08-03 01:57] catherinezucker opened #4 "What happened to the "local mask width" attribute returned by build profile?"
Line 324 in radfil_class.py
"""
 distpc: numpy.ndarray
            A numpy array containing the physical size of each "local width" cut. Can take
            the mean/median to determine representative width of the filament mask
 """

It is listed as an attribute accessible after build_profile, but doesn't exist anymore, and I use it in my current large-scale filament analysis. I also can't find i

[2017-08-03 02:13] hopehhchen commented on #4
Makes sense.  I'll do it.

[2017-08-03 18:36] catherinezucker commented on #4
Thanks so much!!

On Wed, Aug 2, 2017 at 10:13 PM, Hope Chen <notifications@github.com> wrote:

[2017-08-05 17:03] hopehhchen opened #5 "Store cuts out to a chosen radius"
This was in the original code (see the master branch).  HC will add it back in.

[2017-08-05 18:36] hopehhchen commented on #3
Done for background subtraction.

@catherinezucker, did you remove the outliers when fitting the main profile?  Thanks!

[2017-08-05 18:37] hopehhchen commented on #2
Done.  Now `bgdist` takes a list/array/tuple of a shape (2, ).  This will be used as the lower and upper bounds for choosing data points in background fitting/subtraction.

[2017-08-05 18:37] #2 closed

[2017-08-05 19:23] hopehhchen commented on #5
I have added `profile_edge` in the `build_profile` feature.  The parameter will decide the largest radial distance to mask and store the profile in `dictionary_cuts` under the key `profile_masked`.  The original (before masking) is kept under `profile`.  See 201a0bf18b4cd306090cd64c4426c405d510810a.

@catherinezucker, I don't quite see the reason why we should mask the profile that is stored in `d

[2017-08-05 19:34] hopehhchen commented on #3
See de225a8c0dc66a1f377331eefde7e39ed3ce49a3.

[2017-08-05 19:55] hopehhchen commented on #4
Done.  See 1eba7c120861156581b91fbef46f696e0a79de23.  The "local mask width" is stored under the key `mask_width` in `dictionary_cuts`.  This is only done when `cutting = True`.

[2017-08-05 19:55] #4 closed

[2017-08-06 01:07] catherinezucker commented on #5
Yeah, I agree! The only reason I suggested it was because when I was building the profile for one of my filaments dictionary_cuts wasn't storing anything beyond a pc, so I was confused where the rest of the profile went. Did dictionary cuts always store everything? If so it might have been user error on my part. Anyways, thanks again :)

[2017-08-06 01:19] hopehhchen commented on #5
Then there must be a bug somewhere, since it should always store the cuts all the way to the mask edge, and its behavior should be independent of `bgdist` or `fitdist` (or the newly added `profile_edge`).   I'll go through the codes again.  Otherwise, maybe you can show me the case where the unexpected happens on Monday.  Thanks! :)

[2017-08-06 19:18] catherinezucker commented on #5
Sorry @hopehhchen --- I read this wrong, and I think we are on different wavelengths. The code needs to store cuts beyond the mask edge. When you said you stored all the cuts, I thought you meant you stored all the cuts from one side of the image to the other, not just within the mask. In order for any of the fits to be legitimate, we need to fit the profile out to at least a parsec or two, so *ev

[2017-08-07 04:07] hopehhchen commented on #5
Hey, @catherinezucker, thanks for going over this with me again.  I'll repeat what I understand:

1. The full profiles of cuts, from one side to the other of the original image (but within some `cutdist` from the spine), need to be stored and used in background/profile fitting, of which the ranges are in turn determined by `bgdist` and `fitdist`.
2. The mask is only used to find the spine.

If thi

[2017-08-07 04:40] catherinezucker commented on #5
Yes, @hopehhchen ! That's exactly what I have in mind! And I don't think we should
get rid of the option to only look at the cuts inside the mask_width
(exactly what you have now) because I think some people will absolutely use
it. I just think we need to add the option to store cuts beyond the mask
width if the user requests it. This goes back to the argument of what
exactly is a valid fitting di

[2017-08-07 19:55] hopehhchen opened #6 "plotting in fit_profile"
1. Two panels––one for BG fitting and one for profile fitting, showing the range(s) and the fits.
2. Have options in the plotter to plot only the Gaussian or the plummer.

[2017-08-07 19:56] hopehhchen opened #7 "plotting in build_profile"
1. Two panels, one for the actual mask, cuts and spine, and one for the profile/cuts.
2. Zoom in on the mask.
3. Have options in plotter to show: a) scatter points vs. curves, and b) binned average.

[2017-08-07 19:56] hopehhchen opened #8 "Deconvolved FWHM"
Include this in the final dictionary returned by fit_profile

[2017-08-07 20:06] hopehhchen opened #9 "Something wrong with Gaussian fitting?"
See the data and the codes @catherinezucker shared.  HC thinks it's due to mishandling of units.

[2017-08-07 20:08] hopehhchen commented on #9
Or the background subtraction?

[2017-08-09 23:33] catherinezucker commented on #9
This also applies to the Plummer fitting. It keeps returning Rflat=0.000 and P=1.000. @hopehhchen do you have an ETA for when this bug will be fixed? I still need to determine the new widths for my paper, and then I need the bug-free version for the updated radfil tutorial I want to get to Bernie ASAP. Thanks!

[2017-08-10 01:10] hopehhchen commented on #9
@catherinezucker, I will commit a bug-free version before the end of Thursday (8/10).  Thanks for letting me know the problem.

[2017-08-10 01:11] catherinezucker commented on #9
Sounds great, @hopehhchen . Thanks!

[2017-08-10 02:16] hopehhchen commented on #9
@catherinezucker, your comment must be a lucky charm of some kind.  I just found out that not assigning the `bounds` parameter in the Plummer fit would fix the problem (d41aef7f3a1c5f2b369af7a59ba51df557d5a8a4).  Please try to break the current code with your unlikeliest filaments.  I'll check on my part why the `bounds` parameter introduces unexpected behaviors.  Thanks!

[2017-08-10 02:40] catherinezucker commented on #9
Thanks, Hope! That definitely helped. Except now R_flat is going negative. And at least for the test filament, the answers are still offset by 25% from the original values. I think it might have something to do with the background subtraction. For reference, here are the original bounds and guesses I used with lmfit:

        #Plummer model
        if model=="Plummer":
            mod=Model(plumme

[2017-08-10 02:50] catherinezucker commented on #9
Actually, no I don't think it's background. I think you can solve this by just replicating the guesses and at least the lower bounds I have.

[2017-08-10 02:59] hopehhchen commented on #9
Thanks for the suggestion, @catherinezucker!  I just set all `bounds` parameters to `(0., np.inf)`, and it did solve the issue.  Please test again and see if you still get numbers that don't make sense.

[2017-08-10 03:15] catherinezucker commented on #9
Unfortunately it is failing for Musca now (R_flat goes back to 0.000).

[2017-08-10 03:17] catherinezucker opened #10 "Where did the option to fit either a flat or sloping background go?"
The user needs the option to fit either a zeroeth or first order polynomial to the background. Now (I think!!) we only have the option to do first order unless the profile is wrapped. Where did this go? I think a lot of people will want to do a flat background subtraction. @hopehhchen this option currently isn't available in the new version right?

[2017-08-10 03:23] catherinezucker commented on #9
Can you see if you can recreate the tutorial fits for Musca with the same binning, samp_int, etc? And then I'll go through and redo all my filaments, quantify how different the best fits are between the two radfil versions, and then see if any additional changes need to be made. Does this sound OK @hopehhchen ?

[2017-08-10 14:23] hopehhchen commented on #10
I just added it back.  Now `bgdegree` in `fit_profile` controls the order of polynomial used in BG subtraction (22ac574f3c800214c7f1433c0fafa35855fd6cd4).

[2017-08-10 14:23] #10 closed

[2017-08-10 14:26] catherinezucker commented on #10
Thanks so much @hopehhchen ! I will have a new plotting feature to unveil today or tomorrow :)

[2017-08-10 18:03] hopehhchen commented on #9
@catherinezucker, I think the problem is the weird behavior of boundary conditions in fitting a Plummer.  I have updated the code by setting no `bounds` and made sure that `R_flat` is positively defined by taking the absolute value of `R_flat` after fitting.  This is mathematically sound, because the target function to optimize should be symmetric for `R_flat` around 0.

Tests on B5, Filament 1, a

[2017-08-10 18:05] hopehhchen commented on #3
Done.  No outlier removal is done when fitting Gaussian and Plummer.  This retains complete information from the cuts/sampling pixels.

[2017-08-10 18:06] #3 closed

[2017-08-10 18:08] hopehhchen commented on #5
This is done.  The issue can be closed after the fitting is tested to be stable (#9).

[2017-08-10 19:21] hopehhchen commented on #8
All FWHM information is now in `self._results['FWHM']`.  The plummer FWHM is calculated by finding the distance at which the function gives a value equal to half of the amplitude.

[2017-08-10 19:21] #8 closed

[2017-08-11 03:24] catherinezucker opened #11 "Reverting back to only fitting one function at once option?"
How opposed would we be to having the option to fit just Gaussian, just Plummer, or both (instead of only both)? I know it doesn't add any extra computational time, but I really think people will want to use different fitting radii for the two, and having two sets of Plummer variables (one with a reasonable fitting radius and one with a less reasonable range) might confuse people, and people will

[2017-08-11 03:36] hopehhchen commented on #11
I am starting to see your point.  Can we talk about this after our meeting with Bernie tomorrow?  I just think that we should come up with an easy and clear structure to store the setup parameters and the fitting results before we implement it.  Thank you!

[2017-08-11 03:40] catherinezucker commented on #11
Yeah, sure! Do you want to meet together in the Vizelab before or after the call @hopehhchen ?

[2017-08-11 03:41] catherinezucker commented on #11
Oh, ok, sounds good! We'll talk about this tomorrow after the meeting with Bernie!!

[2017-08-11 14:53] hopehhchen opened #12 "Mask for sampling; make consistent the cut=False case"
1. Add an option to use the mask that was used to derive the spine when building the profile (so that only data points within the mask are included).

2. Make `build_profile` for `cut = False` consistent with `cut = True` (e.g. masking and applying `cutdist`).

[2017-08-11 15:00] catherinezucker opened #13 "FWHM Calculations Return Error When Distance Not Provided"
If distance is None, "beamwidth_phys" used in the FWHM calculation does not exist. We can fix this when we figure out how to store fitting results today

[2017-08-11 15:21] hopehhchen commented on #13
Sorry!  It's actually mostly due to wrong indentation levels.  I have fixed it and made it compatible with the situation when there is no header and everything is calculated in pixel units (dcf2d79c02d106efda3c0c6e92f3df607a03e99c).  But you are right.  The current way to store FWHMs is not optimal, and should be reconsidered when we modify how the results are stored.

[2017-08-11 15:22] catherinezucker commented on #13
Thanks!

[2017-08-11 15:40] #13 closed

[2017-08-11 23:38] catherinezucker opened #14 "Peak Finding Error?"
Hi @hopehhchen. I have been going through some sanity checks comparing new RadFil and old RadFil, and I think there might be a bug (or at least a discrepancy--I could have been wrong the first time!!) with the peak finding algorithm in new RadFil, as the peaks seem more discontinuous. I have attached two screenshots of the filament masks with the cuts and the peak along each cut marked in blue. Ev

[2017-08-11 23:42] catherinezucker commented on #14
Here's a better view of the max pixels on the edge of the mask in New RadFil.
<img width="1032" alt="screen shot 2017-08-11 at 7 40 40 pm" src="https://user-images.githubusercontent.com/18339657/29235484-365581fe-7ecd-11e7-90d7-8400ad115b3b.png">

[2017-08-12 02:18] hopehhchen commented on #14
Wow, this looks really bad!  I'll check through the code and find out what could have gone wrong.  Could you post the codes or the setup parameters?  Thanks!

[2017-08-12 03:07] catherinezucker commented on #14
I just added the files to a folder called Fil8_Bug_Data. Here is the code you need to reproduce...
###
img,hdr=fits.getdata("./Fil8_Bug_Data/HIGAL_L_Fil8_N.fits",header=True)
mask=fits.getdata("./Fil8_Bug_Data/Fil8_filfind_mask.fits")
filspine=fits.getdata("./Fil8_Bug_Data/Fil8_longpath.fits")
dist=2750.0

radfil=radfil_class.radfil(img,filmask.astype(bool),header=hdr,distance=dist,filspine=filspi

[2017-08-12 03:11] hopehhchen commented on #14
Thanks!

[2017-08-12 03:13] catherinezucker opened #15 "Background Subtraction Error?"
I think there might be a background subtraction error produced via the same code snippet shown in #14 . I'm getting background subtraction slopes that are essentially flat, when it is clearly skewed. Not sure what is going on here. Do you think it's something with the sigma-clipping, or is there just a bug somewhere? It's weird because it's only reproducible in skewed profiles (where one end is hi

[2017-08-12 03:14] catherinezucker commented on #15
Wait still might be a bug, but I think I found an unrelated plotting bug...hold on

[2017-08-12 03:21] hopehhchen commented on #15
The PDF you attached looks like a plotting problem to me (the fitted parameters seem normal).  Just in case, please check if you used the fitted `astropy.modeling` models for predictions ([astropy documentation here](http://docs.astropy.org/en/stable/modeling/#simple-1-d-model-fitting)).  Let me know if it is a plotting bug.  Thanks!

[2017-08-12 03:22] catherinezucker commented on #15
Yes, it is! It is my own plotting bug. I just fixed it and will push the new version through. Sorry and thanks for catching it!

[2017-08-12 03:22] catherinezucker commented on #15
Here we go :)

[bg_sub_bug.pdf](https://github.com/catherinezucker/radfil/files/1219438/bg_sub_bug.pdf)

[2017-08-12 03:24] catherinezucker commented on #15
New version has been pushed through. Closing this...

[2017-08-12 03:24] #15 closed

[2017-08-12 03:26] hopehhchen commented on #15
Great!  It seems that there's still room for fine tuning sigma clipping, but it shouldn't change the bg subtraction by much.  We can look into that later.

[2017-08-12 04:31] hopehhchen commented on #14
The error was in indexing when the profile is extracted in `profile_tools.profile_builder`.  76aeb234ae8dcaee2991428b9c3433f8c689f6ac fixed the error.  It also improves the fitting.  For Musca, the new numbers now agree with the old numbers within 0.1%.  This could have been the reason for discrepancies in the fitted parameters.  Please test and check.  Thanks!

[2017-08-12 04:39] catherinezucker commented on #14
Thanks so much, Hope. Looks like you definitely fixed it. I think we are getting very close to the old values (within margin of errors most definitely). Will check more thoroughly this weekend!!

[2017-08-12 04:48] catherinezucker commented on #14
Actually, is there any reason why the max column density pixel wouldn't be identical across versions if the same samp_int is used? I know the same samp_int in both versions produces the same number of cuts, but in theory the max column density pixel should be the same too, right?

[2017-08-12 05:25] hopehhchen commented on #14
Yes, I think so.  One thing I can think of is the way the new and the old versions filter the cuts that are too close to the ends of the spline.  Could you try to remake the following plot with the old version so we can make sure that the cuts are *exactly* the same?  Thanks!

I think the new peaks are, at least, the right peaks for the new cuts.
![peak_finding_fil8](https://user-images.githubuser

[2017-08-12 23:33] catherinezucker commented on #14
@hopehhchen how did you get the contrast/bias so nice on the colormap? I have this figure for old radfil ready but I can't achieve the optimal colormap like you can :). What's your secret :D?

[2017-08-13 06:44] hopehhchen commented on #14
Sorry for the late reply!  The secret is to plot it on lognormal scale, and use precentiles to adjust the limits:

[code]

Can't wait to see the plot!

[2017-08-13 06:46] hopehhchen commented on #14
Sorry for my bad naming!  In the mock code, `image` and `image_plt` should be the same thing that is the 2D array to be plotted.

[2017-08-13 23:56] catherinezucker commented on #14
@hopehhchen -- Here's the old RadFil version of the figure above that you made using new RadFil. I think the cuts and peaks are definitely slightly off, but I think I like new RadFil better. As you said, there might be a difference in how we select cuts too close to the edge of the spine. But I *thought* we both just did 1:-1...

Here's old RadFil:

        #If pts_mask!=None, only sample points w

[2017-08-14 03:55] hopehhchen commented on #14
@catherinezucker, thanks for checking it!  Yes, I think it's worthwhile looking into every discrepancy, and I agree that it's working pretty good now.  Tomorrow I'll implement the changes that will make the codes work consistently when `cut = False` and `cut = True`.

Then, the last two things are just 1) making sure that the new and the old versions produce similar enough fitted parameters (and t

[2017-08-14 04:21] catherinezucker commented on #14
Sounds good! Plotting is still not fully implemented on my end for all the
different options but I will work on it more this week so it looks good in
all cases. Thanks Hope!

On Aug 13, 2017 11:55 PM, "Hope Chen" <notifications@github.com> wrote:

[2017-08-17 18:14] catherinezucker opened #16 "Storing results..."
I'm starting to think that we have too many nested dictionaries when storing results. For instance, when someone wants to find the median cut across the mask, they have to do this:

    print(np.median(fil._results['build_profile']['dictionary_cuts']['mask_width']))

Which seems overly complicated. @hopehhchen Is there anyway we can simplify this and make it easier on the user? Or do you think it

[2017-08-17 18:46] hopehhchen commented on #16
@catherinezucker, that's why they are all stored under this slightly weird property name, `self._results`.  The style guideline of Python suggests that feature names with a single leading underscore should be used for "internal indicators," meaning that these feature names are not the primary feature names that the users would access (and we can skip them in the documentation as well).  See [this

[2017-08-17 18:49] catherinezucker commented on #16
No, that makes sense! I didn't know you could access both ways... I think we should keep it like it is. Thanks :)

[2017-08-17 20:51] catherinezucker opened #17 "Another bug in build_profile?"
Hi @hopehhchen ,

I think I might have found another bug in the newest version of build_profile.

img,hdr=fits.getdata("./Fil10_Bug_Data/HIGAL_L_Fil10_N.fits",header=True)
mask=fits.getdata("./Fil10_Bug_Data/Fil10_filfind_mask.fits")
dist=3200.

fil=radfil_class.radfil(img,filmask.astype(bool),header=hdr,distance=dist,padsize=padsize,filspine=fits.getdata(lpath+"Skeleton_Longpaths/"+filname+"_long

[2017-08-17 21:15] hopehhchen commented on #17
Ha, this looks like a real one!  Could you please pass me the data (the image, the mask, and the spine), @catherinezucker?  I don't think the fit will be affected by a lot but it surely will, since the code does not remove outliers when fitting for the profile.  I'll try to sort it out tonight. :)

[2017-08-17 21:24] catherinezucker commented on #17
Actually, I think this might be user error after all. Let me check something again before you do anything :).

Best,
Catherine

[2017-08-17 21:29] hopehhchen commented on #17
It looks like those zero points could be due to padding to me.  Anyway, let me know if you think it's just bad input parameters.  Thanks!

[2017-08-17 21:34] catherinezucker commented on #17
Yeah, I just tested this and it definitely has to do with pad. Do you think there's any reason to keep pad? It seems like it might just cause bad things to happen. It was necessary before because of how I was building profiles, but not I think it's defunct. Are there any cases you can think of where people would want to add zeros in the new version?

[2017-08-17 21:38] hopehhchen commented on #17
No, I actually wanted to remove it when I started the new RadFil.  If you agree, I'll go ahead and remove padding all together.

[2017-08-17 21:39] catherinezucker commented on #17
Yeah, I agree. If it's easy for you, that would be great. Otherwise, I can
do it. Thanks so much, Hope!!

On Thu, Aug 17, 2017 at 5:38 PM, Hope Chen <notifications@github.com> wrote:

[2017-08-17 21:40] hopehhchen commented on #17
I can do it.  Thanks for pointing this out!

[2017-08-18 15:32] hopehhchen commented on #16
FWHMs are cleaned up and stored under the property names, `self.FWHM` and `self.FWHM_deconv`.  See ff809fa4d28e757de60cbdf428116af0bade7834.

[2017-08-18 15:32] #16 closed

[2017-08-18 15:45] hopehhchen commented on #17
Padding is now completely removed.  See 8788b3b600f896cd0217afa153355913555737f7.

[2017-08-18 15:45] #17 closed

[2017-08-18 15:46] hopehhchen commented on #14
The peak finding is finalized.  See #12 for fixing the behavior of the mask when `cut = True` and `cut = False`.

[2017-08-18 15:46] #14 closed

[2017-08-18 15:48] hopehhchen commented on #9
@catherinezucker, could you confirm that the fitting is good for your many filaments?

[2017-08-18 15:49] catherinezucker commented on #17
Perfect! Thanks, Hope!

On Fri, Aug 18, 2017 at 11:45 AM, Hope Chen <notifications@github.com>
wrote:

[2017-08-18 15:49] catherinezucker commented on #9
Yeah, it looks really good so far, I think! I am trying to wrap this up
today or tomorrow before I leave, so we will be able to close this issue
soon. Will keep you updated.

On Fri, Aug 18, 2017 at 11:48 AM, Hope Chen <notifications@github.com>
wrote:

[2017-08-18 15:51] hopehhchen commented on #9
Cool!  We can meet after our meeting with Bernie if that helps.  Thanks, @catherinezucker!

[2017-08-18 19:24] #11 closed

[2017-08-18 19:26] #5 closed

[2017-08-18 19:33] catherinezucker opened #18 "improve documentation in code"
Self-explanatory! Explain all the dictionary_cuts, profile_fits, etc.

[2017-08-18 23:04] kristina-monsch opened #19 "orientation and position of each radial cut as output file + asymmetric fitting range"
Dear Catherine and Hope,
I am currently working with Jaime Pineda (@jpinedaf) and Hauyu Baobab Liu (@baobabyoo) on NH3 data of Orion, where your RadFil package comes in very handy. Thank you especially for the nice tutorial!
In particular, we analyse a pretty straight and narrow filament of an aspect ratio of ~20 to 25, for which we applied the RadFil package. However, I have a few additional ques

[2017-08-18 23:50] catherinezucker commented on #19
Hi @kristina-monsch (and @jpinedaf, @baobabyoo),

Thanks for using RadFil! Let us know if you ever find any bugs :)! Just FYI that Hope and I are actually in the process of publishing a new updated version of RadFil (currently nearing completion and under active development in the "Developer" branch). It will add a lot of new features to RadFil and will include more robust fitting thanks to @hopeh

[2017-08-19 03:08] hopehhchen commented on #19
Hi @kristina-monsch (and @jpinedaf, @baobabyoo),

Thanks for using (testing!) RadFil for us.  I think @catherinezucker has answered the questions, but here are a few words which might help:

1. Besides the profiles stored in `self.dictionary_cuts`, the points on the spline that are used to determine where to "cut" are stored in `self.points`, and the tangent (to the spline) vectors are stored in `

[2017-08-19 03:19] hopehhchen opened #20 "Asymmetric fitting range"
1. For profile fitting, simply allowing a length-2 object (list or tuple) could provide the option of setting up an asymmetric fitting range.  For example, `fitdist = (-3, 4)` would use points with distances from the peak, -3 pix/pc < [distance] < 4 pix/pc.  The only problem is how to assign one side of the profile to be the negative side, and the other, positive.  (Or simply let the users test th

[2017-08-19 03:27] hopehhchen commented on #19
Hi, @kristina-monsch, just another few more words.  For using an asymmetric fitting range, if you really can't wait, please use the distances and the profiles stored in `self.dictionary_cuts` and select the range by conditioning on the distances.  There are many way to do the fitting, but if you want to be consistent with what we do in `RadFil`, please find documentation at [`astropy.modeling`](ht

[2017-08-19 04:23] catherinezucker commented on #19
Also, @kristina-monsch <https://github.com/kristina-monsch>--all of this
discussion is basically referring to features in the Developer (soon to be
Master!) branch, so make sure you clone that one in the mean time. There
will be a tutorial for that version up shortly!

On Fri, Aug 18, 2017 at 11:27 PM, Hope Chen <notifications@github.com>
wrote:

[2017-08-21 13:19] kristina-monsch commented on #19
Hi you two, I'm sorry for the late reply...I'm really happy that you are so open to our suggestions and are willing to help, thank you! :-)

To answer some of your questions:

1. Yes, I just want the angle between each cut and the filament spine as function of the filament length. I don't particularly need to write this into a file, so if there is the possibility to plot this variation with RadFil

[2017-08-21 13:34] catherinezucker commented on #19
Hi Kristina,

All of the cuts are made perpendicular to the spine by definition, so the
orientation of all the cuts should be the same. At every point along the
spine we sample, we find the line tangent to that point, and then make a
cut perpendicular to the tangent line. So all the lines should be at a 90
degree angle with respect to the tangent to the curve at each point.

Best,
Catherine

On Mo

[2017-08-21 14:01] jpinedaf commented on #19
Thanks for the reply, and thanks for this nice package!... what we need is to plot the absolute position angle for all cuts. Clearly they are perpendicular to the spine, but then how could we get the spine orientation at the position of each cut?

[2017-08-21 14:20] catherinezucker commented on #19
Ok, that makes sense. How would you like to define a position angle of
zero? Could we fit a straight line to the spine points and then find the
angle between the linear fit to the spine and the tangent line at each
sampling point?

There is also current support in FilFinder (
https://github.com/e-koch/FilFinder/blob/master/examples/FilFinder%20Tutorial.ipynb
; go to "Curvature and Direction") that

[2017-08-21 15:51] jpinedaf commented on #19
sure, the linear fit sounds fine... but I was guessing that you already use that info in the package to get the cut in the right orientation and for that you would have needed to know the orientation of the spine at that positions. That is why I suggested it to @kristina-monsch. ;)

[2017-08-21 16:03] hopehhchen commented on #19
Hi @kristina-monsch and @jpinedaf,

Thanks for making it clear what you want to do!  It is really helpful.

Like I said above, with the current *developer version* of the code, what you need––the tangent vectors along the spline and the absolute coordinates of the spline points––are already stored in `self.fprime` and `self.points`.  I manage to make the attached plot at the end with the following

[2017-08-21 16:05] hopehhchen commented on #19
@catherinezucker and @jpinedaf, I think with `self.fprime`, which we actually used to calculate the directions of the cuts in `RadFil`, there's no need to use any interpolation or linear fitting, etc.  I guess that's what you want?  (See also my comment above.)

Oh, and I should add that both `self.fprime` and `self.points` are stored in pixel coordinates, regardless of the input parameter.  This

[2017-08-21 17:43] catherinezucker commented on #19
Yeah, if you just want the slopes of the tangent lines at all sampling
points, you can do fil.fprime[:,1]/fil.fprime[:,0]. fprime is an array of
shape (N x 2) which is the same length as fil.points. It stores the
derivative with respect to x and then the derivative with respect to y of
the spine at every sampling point. So I'll just need to convert point along
spine to a physical length along the

[2017-08-22 20:23] kristina-monsch commented on #19
Thank you for your help! I tried to apply your solution to my data, @hopehhchen , but there seem to be some bugs.
First, some of the function arguments that are referenced in the documentation are not callable. Also I had to apply the conversion `fil_mask = np.uint64(fil_mask)` because otherwise my mask is not accepted:

There is also another curve at the lower end of the filament, which is not th

[2017-08-22 21:03] hopehhchen commented on #19
Thanks so much for sharing the notebook, @kristina-monsch!  I'm testing `RadFil` on your data and mask, and can get back to you tomorrow.

Regarding the mask, an error message would be common if you make your mask using float numbers `0.` and `1.`.  It is a good habit to keep converting values in your mask to boolean values.  All you have to do is to convert the numpy array with its built-in featu

[2017-08-23 00:39] hopehhchen commented on #19
Hi, @kristina-monsch,

Please take a look at the [ipython notebook](https://github.com/catherinezucker/radfil/blob/Developer/tests/test_KM.ipynb) I created to reproduce your results.  I'll summarize what I found below:

1. There are a few minor bugs in the code (the Developer branch), but they didn't seem to be significant enough to result in the weird profile I saw in your notebook.  Do you mind

[2017-08-23 01:11] hopehhchen commented on #20
1. `fitdist` now also takes a length-2 object.  The negative direction is always to the left of the spline direction, which in turn always runs from smaller axis-0 indices to larger axis-0 indices (e.g., from South to North if using RA and Dec).

2. `bgdist` remains symmetric.  Open a new issue if changing it to take asymmetric values is necessary.

[2017-08-23 01:11] #20 closed

[2017-08-23 02:12] hopehhchen commented on #20
See 7f2481a2863fc9988a324c23ef4605307b2df3c4.

[2017-08-23 02:14] hopehhchen commented on #19
`fitdist` now also takes a length-2 object, which can be used to define an asymmetric fitting range.  See 7f2481a2863fc9988a324c23ef4605307b2df3c4 and #20.

[2017-08-23 17:57] hopehhchen commented on #19
Hi @kristina-monsch,

I wrote a quick script to get the distance and the other statistics, including the position angle, along the spline.  In the script, I also calculate the [Menger curvature](https://en.wikipedia.org/wiki/Menger_curvature) (the 3-point curvature), which might be interesting to you.  See [the code here](https://github.com/hopehhchen/HCPy/blob/master/ShapeStatistics.py), and [a J

[2017-08-23 19:28] hopehhchen opened #21 "Problem with curveorder"
For B5, the list generated by curveorder is wrong with the first two points seemingly backwards.  HC will explain more later.

[2017-08-23 19:30] catherinezucker commented on #21
You edited curveorder recently right? Can you check if the problem still
exists with the original version before the deletions?

On Aug 23, 2017 4:28 PM, "Hope Chen" <notifications@github.com> wrote:

[2017-08-23 19:40] hopehhchen commented on #21
I did check.  The problem is there regardless of which version I use.  (The edit on `curveorder` was just to remove the codes that weren't really used.)  It doesn't seem to affect the spline calculation, but it is annoying.

As in the attached screenshot, the points should obviously be (99, 34), (99, 33), and (99, 32), but the first two are backwards.
<img width="1098" alt="screen shot 2017-08-23

[2017-08-23 19:43] hopehhchen commented on #21
It's confirmed.  The correct order is not even in the list of paths found in the network graph at all.  We should think of a way to resolve this.

[2017-08-23 20:05] catherinezucker commented on #21
Thanks for catching this, Hope. That seems like a possibility. And it
doesn't seem to be limited to B5 (I just tried it on one of mine and the
same problem exists). Maybe the path shown really is the shortest path
between all the nodes, which is how the order is calculated (see
https://stackoverflow.com/questions/37742358/sorting-
points-to-form-a-continuous-line). This is something we could easil

[2017-08-23 20:08] hopehhchen commented on #21
I just went over again how the nearest neighbor algorithm is run, and I think I have a pretty good guess of the reason and a possible solution.

### Possible Reason

Since the nearest neighbor does not care about the permutation of two neighboring points, it's likely that only one of the two such permutations (for a given pair) will be included in the *k-neighbor* graph.  For example, only one of

[2017-08-23 23:31] hopehhchen commented on #21
I have implemented the solution described above.  @catherinezucker, it would be great if you could take a look at your filaments and see if the problem is still there.  Thanks!

[2017-08-23 23:35] hopehhchen commented on #12
See 1168f27c33876ae78b8eb709a26518f84556d81c.  Below is a summary.

1. The behavior of `cut = False` has been made consistent with when `cut = True` by not using the original mask (which was used to derive the spine).

2. Pixels that are closest to the first and the last `(self.xbeforespline, self.ybeforespline)` are masked out, and `cutdist` now works properly outward from and perpendicular to th

[2017-08-23 23:35] #12 closed

[2017-08-24 00:05] hopehhchen opened #22 "Weighted fitting when binning=True"
1. Weight the binned data points by the number of data points (or some function of that) in each bin when fitting.

[2017-08-24 14:04] jpinedaf commented on #19
that is pretty good! thanks a lot. Is this enough @kristina-monsch to carry out the analysis?

[2017-08-24 18:50] hopehhchen opened #23 "Statistics along the filaments"
I want to add functions to calculate statistics of the derived filaments.  Here are some thoughts:

1. The "shape statistics" as the code put together by HC for #19.  There is a quick script in [HC's repo](https://github.com/hopehhchen/HCPy/blob/master/ShapeStatistics.py).

2. Other statistics along the filament, using data stored in `self.image` or other data (of the same shape/region).

HC is wo

[2017-08-25 17:28] kristina-monsch commented on #19
These look both great, thank you so much! We're planning to add a histogram of the position angle variation along the filament spine into the paper, which should be no problem to obtain I guess. I will crop the cube and apply your analyses to the new one and then I will let you know about the results. The results are definitely very interesting! Have a nice weekend!

[2017-08-28 19:47] hopehhchen commented on #23
See the scripts in [HC's repo](https://github.com/hopehhchen/HCPy/tree/master/RadfilStatistics).  HC will test the scripts on other data and discuss with CZ for merging.

Note for dependencies: Certain calculations in the scripts are dependent on functions in HCPy.py.  Check before merging.

[2017-08-28 20:42] hopehhchen commented on #22
Weighting when `self.binning = True` is added in 77e56f644786f05c5ae579a89c012eecf18cbd77.  The weightings are just the number of data samples in each bin.

Close this issue after testing.

[2017-09-02 16:53] kristina-monsch commented on #19
Hi you two, sorry for my absence in the last two weeks...

@hopehhchen:
I found a little typo in your HCPy.py file. In line 35 where you define `PointsDist(point1, point2)` you use `warning.warn` instead of `warnings.warn`.

The ipython notebook you sent works fine with the data I gave you, however only if I don't change any parameters. When I modify the percentile value of the mask (e.g. 68 inste

[2017-09-02 17:06] hopehhchen commented on #19
@kristina-monsch, thanks so much for finding out the typo.  You shouldn't need that function now, since `ShapeStatistics` returns the corresponding distances.

If you simply want to calculate the distance between each pair of points in an (N, M)-array (where N is the number of points, and M is the dimension of the space), please use [`scipy.spatial.distance`](https://docs.scipy.org/doc/scipy/refer

[2017-09-04 02:31] catherinezucker commented on #19
Hi All,

I am back from Chile. Sorry for the radio silence! Looks like Hope did most
of the work. What is left that would be helpful for me to do
@kristina-monsch?

On Sat, Sep 2, 2017 at 1:06 PM, Hope Chen <notifications@github.com> wrote:

[2017-09-04 10:17] kristina-monsch commented on #19
Hi Catherine, yeah the scripts have everything I need, thank you both so much :) I just need further help, because I cropped the cube again to remove the bend at the lower end of the filament and now I get the index error when I try to run `radfil.make_fil_spine(beamwidth = 6., verbose=True)`. Hope's version worked perfectly fine with the old cube, but only if I kept the lower percentile value for

[2017-09-04 15:14] catherinezucker commented on #19
Hi Kristina,

Can you send me the code you used to make moment0_11_F2_small.fits
from moment0_11_1stfinger_small.fits? The error appears to be a
problem with the FilFinder package not liking your mask, which is a
completely independent package we use to create the spines. I will
need to look into that package to figure out the problem. However,
there is a much easier way to exclude the region you

[2017-09-04 15:32] kristina-monsch commented on #19
Hi Catherine, that sounds reasonable of course! I create the subcubes using pyspeckit's subcube option:

[code]

from which I calculate the moment0 map using
[code]
However, this is a completely different package, and your solution surely sounds more practical! The original data cube is too large to upload on Github, do you need it anyway? It sounds like you only need the coordinates and size of t

[2017-09-04 16:25] catherinezucker commented on #19
Hi Kristina,

Here's a new notebook with the weird cut thing fixed. Does this make sense?

https://github.com/catherinezucker/radfil/blob/Developer/tests/test_KM_CZEdit.ipynb

Feel free to edit the central coordinates and shape of the cutout to adjust the size of the region you want to take cuts from. @hopehhchen I seem to have broken the PA vs. distance along spine figure at the very bottom of th

[2017-09-05 19:44] #9 closed

[2017-09-05 19:45] catherinezucker opened #24 "Should the mask be an optional input? Theoretically you don't need it if you want shift=False"
Thoughts @hopehhchen?

[2017-09-06 02:54] hopehhchen commented on #24
I'll review the codes tomorrow, but I thought a mask is needed anyway for deriving the spine.  Is that correct, @catherinezucker?

[2017-09-06 03:16] catherinezucker commented on #24
Yeah, it is. But if they input a pre-computed spine via e.g. disperse, they
won't need it. It's a very special use case though.

On Tue, Sep 5, 2017 at 10:54 PM, Hope Chen <notifications@github.com> wrote:

[2017-09-06 03:20] hopehhchen commented on #24
Good point!  How about raising an error only when both `mask` and `filspine` are `None`, and making both of them optional?

[2017-09-06 03:23] catherinezucker commented on #24
Sounds good; I will add this in and push it along with the latest version I
am working on. Also, shift would need to be False as well (otherwise you
can't reasonably search for the peak column density pixel along each cut).
So mask can only be optional when filspine is inputed and shift=False. What
do you think? Can you see this happening enough that it would be good to
make it optional?

On Tue,

[2017-09-06 03:36] hopehhchen commented on #24
Ah, I see what you mean now.  I think this should be considered together with the removal of `cutdist`.  If there is a `cutdist`, then I think it is reasonable to find the maximum along each cut within `cutdist`, and it should be fine.  We can raise a warning anyway.

I think what could be sensible to do might be raising an error when both `mask` and `filspine` are `None` in `__init__`, and raisin

[2017-09-06 03:44] catherinezucker commented on #24
Sounds good. Let's talk about this on Thursday and maybe implement then? I
already have an almost there version (minus searching for max col density
confined within cutdist, which I think is a good solution). Thanks :)

On Tue, Sep 5, 2017 at 11:36 PM, Hope Chen <notifications@github.com> wrote:

[2017-09-06 04:00] hopehhchen commented on #24
Awesome!  Thanks!

[2017-09-07 17:15] hopehhchen opened #25 "Plot a step curve when binning=True"
When binning = True, plot a step curve.

[2017-09-07 17:16] hopehhchen opened #26 "Prepare setup.py"
Penny suggested following the steps listed [here](http://peterdowns.com/posts/first-time-with-pypi.html).

[2017-09-07 17:37] hopehhchen commented on #25
Done.

[2017-09-07 17:37] #25 closed

[2017-09-07 22:32] catherinezucker commented on #24
I just pushed this commit, along with some other changes. Thanks :)

[2017-09-07 22:32] catherinezucker commented on #24
Let me know if you find bugs!

[2017-09-08 16:47] #6 closed

[2017-09-11 14:14] hopehhchen commented on #19
Hi @kristina-monsch and @catherinezucker,

I just went through your conversation.  Regarding the code that solves the continuity of the position angles, I have fixed it by comparing each sample with its neighbors.  Please take a look at the [most recent version of the code](https://github.com/hopehhchen/HCPy/blob/master/RadfilStatistics/ShapeStatistics.py).

@kristina-monsch, if you are trying to

[2017-09-11 19:50] jpinedaf commented on #19
@hopehhchen great suggestion, unfortunately we only have like 9 polarization vectors in the filament position. Maybe with more data? ;-)

[2017-09-12 03:26] hopehhchen opened #27 "The code still plots the negative distance when wrap is True"
The plots of the profile (and the fit) should include only the positive distance range when `wrap` is set to `True`.

[2017-09-12 03:33] hopehhchen commented on #27
Done in 7b0d96e425e9d37ebe52aa4fefe89fecfc14c113.

[2017-09-12 03:33] #27 closed

[2017-09-12 03:37] hopehhchen commented on #22
The test is successful.  Fitting seems fairly well-behaved over all possible combinations of setup parameters (binning, shifting, making cuts, and wrapping the profile).  See [`tests/tests.ipynb`](https://github.com/catherinezucker/radfil/blob/Developer/tests/tests.ipynb).

[2017-09-12 03:37] #22 closed

[2017-09-12 03:38] hopehhchen commented on #21
HC thinks this is resolved.  The implementation is in 93b5667285f950e4aca8592545e4cded94b50562.

[2017-09-12 03:38] #21 closed

[2017-09-12 03:44] hopehhchen opened #28 "Update the plotter class"
There is an old version of the plotter class.  Update it according to the newly implemented modifications to plotting.  Also, allow users to recycle the matplotlib axis instance after plotting.

[2017-09-12 06:02] baobabyoo commented on #19
@jpinedaf (how to refer to a user??): Why only 9 polarization vectors? Kate only provided us with a small portion of the BISTRO image? In her paper (https://arxiv.org/abs/1707.05269) the coverage is quite good. Shall we request Figure 2 from her paper?
The method that Juan Soler used might be sensitive to small scale noise. They are free from this problem because they are observing 15-20 K cloud w

[2017-09-12 06:12] baobabyoo commented on #19
@jpinedaf: ahh, so @kristina-monsch only requested a small map from the e-mail communication with Kate (50’’ x 50’’ arcsec^2 region centered at ra: 83.810° (05:25:14.40), dec: -5.335° (-05:20:06.00) ). Maybe later this week @kristina-monsch and @jpinedaf and me can meet face-to-face to see how we proceed?

[2017-09-12 08:18] kristina-monsch commented on #19
@baobabyoo I think the region I requested was large enough to cover the entire OMC-1, but maybe she misunderstood. I'm having issues with plotting the vector map anyway, so I'll get in contact with Kate and ask her, if she can first provide us with a larger map and second if she can just create the plot..

@catherinezucker @hopehhchen Sorry for the lack of updates! The help you provided was entire

[2017-09-12 08:25] baobabyoo commented on #19
@kristina-monsch 50"x50" is smaller than one VLA mosaic field.  :P
@hopehhchen should be able to help you with the plots. This guy wrote a B-field related paper about 0.5 decade ago but never submit it!

[2017-09-12 08:31] kristina-monsch commented on #19
Yes, I'm sorry -.- this must have been a typo, because I probably meant 5' x 5' ....... Well, I'm going to ask Kate for a large map! I'll keep you updated

[2017-09-12 12:51] hopehhchen commented on #19
@kristina-monsch, yes, I did write a polarization paper and never submit it. ;)  So, please shoot any question regarding plotting this way.  I believe @catherinezucker can help with visualization as well.

@baobabyoo, I understand that small-scale noise could be affecting an analysis like the one Juan applied on the Planck data, but I think by adjusting the bin size in [the HOG algorithm](http://s

[2017-09-12 14:19] hopehhchen opened #29 "Add all data (FITS files) to .gitignore"
Add all data (FITS files) to .gitignore to prevent changes.

[2017-09-12 14:20] hopehhchen opened #30 "Update the tutorial to include an example of using the plotter"
Update the tutorial to include an example of using the plotter.  Also update the plotting styles to make it consistent with the default in `styles.py`.

[2017-09-12 14:22] hopehhchen commented on #28
Updated in 6f936807127321e0bc2fe7d2e3e8790cff6e7d23.  The users can handle the axis instance themselves now.  Custom plotting styles are left to future commits.

[2017-09-12 14:22] #28 closed

[2017-09-12 17:15] hopehhchen commented on #30
Done in 90b4e7065b137ce5e4bb1378070f300b8182ebb9.

[2017-09-12 17:15] #30 closed

[2017-09-12 17:17] hopehhchen commented on #29
Done with df3436cd0a60e3450285f111a7786ed2460e44c7.

[2017-09-12 17:17] #29 closed

[2017-09-12 17:19] hopehhchen commented on #23
This can wait till the next version of RadFil.  HC will keep working on the statistics codes.

[2017-09-12 17:19] #23 closed

[2017-09-12 17:50] hopehhchen commented on #26
Hi, @catherinezucker, I have updated the setup files (eea6d2795b3935ebee7468dba1f6ea7ae2d76575), and there are only a few more things to do before publishing the codes to PyPi.  Since the codes are hosted in your github repo, I need your help:

1. Merge the Developer branch. (When you feel ready! 😄)
2. Create accounts on [PyPi Live](https://pypi.python.org/pypi?%3Aaction=register_form) and on [PyP

[2017-09-12 23:39] catherinezucker commented on #26
Sounds good, thanks Hope! I will take a final look at it tonight/tomorrow
morning and then we can probably publish tomorrow? I still want to add a
few more details to the tutorial and do a final check of the documentation,
but I think we should be good. Is there anything else you think we need to
do before putting it on pypi?

On Tue, Sep 12, 2017 at 1:50 PM, Hope Chen <notifications@github.com> w

[2017-09-13 00:23] hopehhchen commented on #26
Yes, I agree that we should go over the documentation to make sure that it's up to date.  The only other thing I notice is that the model (or the background fit) is sometimes not smooth enough (see the image below).  I'll get to it tonight. :)

![plotting example](https://user-images.githubusercontent.com/5449218/30353960-89ef50a4-97f7-11e7-8dc6-ea5cc6a2557c.png)

[2017-09-13 01:11] hopehhchen commented on #26
Updated with e45346576c5cc4b5daa22c59b33919ddae30b0d4.  Below is an example using the same data (Musca).

![plotting example](https://user-images.githubusercontent.com/5449218/30355089-f58ecce8-97fe-11e7-99f9-fc0737b93ca4.png)

[2017-09-13 01:13] catherinezucker commented on #26
That looks a lot better, thanks! See you tomorrow...we can talk more then!

On Tue, Sep 12, 2017 at 9:11 PM, Hope Chen <notifications@github.com> wrote:

[2017-09-15 21:09] catherinezucker opened #31 "Building profile in tutorial with cut=False option"
I tried to build the profile for Musca with the cut=False option, and it killed my computer (the first time I ran out of memory and the second time the kernel died). Maybe it's because the map for Musca is large? @hopehhchen can you try running build_profile with cut=False for the tutorial data really quick and see if it breaks on your computer? If it does, we may have to put a note in about how i

[2017-09-16 00:02] catherinezucker commented on #26
I just merged the Developer branch @hopehhchen . The master should be up to date now. Also added more details to the documentation and a few more in the tutorial as well!

[2017-09-19 20:15] catherinezucker commented on #26
I added the warning re: cut=False, pushed it to github, and then tested the package on pypi test. That was successfully, so then I uploaded it to pypi live. It should now be downloadable via pip install radfil. We're at version 0.1.0! I will add this to the README @hopehhchen

[2017-09-21 21:30] kristina-monsch commented on #19
Hi! I have a quick question - I realised that `radfil.fit_profile()` fits the median of the filament profile instead of the mean, right?:
![image](https://user-images.githubusercontent.com/18168392/30719435-cf296564-9f23-11e7-95fc-6d8e7c0ee73b.png)
For the paper I'm plotting the mean however, and I want to take the fitting constants that I get from RadFil to plot the Gaussian and Plummer profile.

[2017-09-21 21:37] catherinezucker commented on #19
Hi @kristina-monsch -- yes that's correct. When bins are given it fits the median of the filament profiles in each bin instead of the mean. All you need to do to fix this is change np.nanmedian to np.nanmean in lines 571 and 584 of radfil_class.py. Then you should be good to go!

[2017-09-21 21:46] kristina-monsch commented on #19
Perfect, thank you Catherine! :-)

[2017-09-22 02:26] #26 closed

[2017-09-23 19:11] kristina-monsch commented on #19
It's me again with another question. Is there a way to access the uncertainties for the fitting parameters? I tried the various options for `radfil.profilefit()` but it only gives me the results. I need something like: "the standard deviation of the Gaussian is xx ± yy", but especially for the Plummer fit this would be useful. Thank you!

[2017-09-24 01:10] catherinezucker commented on #19
Hi @kristina-monsch. The easiest way I can think to do this would be to use the covariance matrix on the parameters. I have added a new attribute after you fit the profiles called radfil.param_cov, which returns this covariance matrix. To get the standard error on the best-fit values, you can take the square root of the diagonal elements of this matrix. So for instance, to get the standard error o

[2017-09-24 13:46] kristina-monsch commented on #19
Hi Catherine,

thanks for the detailed explanation, I’ll try to apply this later!
Regarding the fitting range - I think the main reason why we chose such a narrow fitting range is to avoid being biased by the GBT-beam of 32’’. We had a discussion with @baobabyoo  and @jpinedaf  on Thursday on this, but I did not quite follow. Maybe they can give an exact explanation :-) However, I think you're rig

[2017-09-24 14:46] hopehhchen commented on #19
Hi @kristina-monsch and everyone,

Regarding the radius, I'd like to add a few more words.  As some people, including @catherinezucker, have pointed out, the flattening radius is not characteristic of the radius in the sense of, say, the FWHM.  And, the conversion factor from the flattening radius to the "true" FWHM varies over the flattening radius and the index.  You can access the true FWHM and

[2017-09-24 21:09] jpinedaf commented on #19
@hopehhchen  @catherinezucker thanks for the replies. As you might guess, the request for the uncertainties is mostly to add it to the paper with a Table with best fit parameters including uncertainties. This means that we only need the uncertainties for:
    Gaussian fit: Amplitude, Sigma
    Plummer fit: Amplitude, R_flat, and p
The FWHM from the Plummer profile is not really needed... but thank

[2017-09-25 08:14] kristina-monsch commented on #19
@jpinedaf Thank you! Which range would you choose for the asymmetric fitting range?
![unknown-3](https://user-images.githubusercontent.com/18168392/30798461-102053a8-a1da-11e7-9cb8-f5ce7e038936.png)
I chose something like fitdist = (-0.01, 0.05) and the results for p and R_flat are still pretty similar.

EDIT:
Here's a plot of the filament where I included the 32'' beam of the GBT (but still with

[2018-02-13 01:12] #24 closed

[2018-02-13 01:12] #7 closed

[2018-02-13 01:13] #18 closed

[2018-06-11 18:31] #31 closed

[2018-06-11 18:31] #19 closed

[2019-07-17 02:32] hongliliu opened #32 "How to make a filspine file to fit the option in the function inradfil_class.radfil?"
Dear Zucker and Chen,
        Recent days, I was trying to identify the main filament from a column density image following the tutorial you gave. However, I found the identified filament spine is not as good as I expected when using the option MASK in the function inradfil_class.radfil. So, I would like to have a try to use the option FILSPINE by invoking a user-defined filspine, which is suppose

[2019-07-24 16:55] catherinezucker commented on #32
Hi Hongli,

Are you sure you definitely don't want to use the mask input option to create the spine? I've jotted down a little example of how to make a mask using a column density map by defining a column density threshold. You might play around with different thresholds (and also try smoothing the map) and see if any of those work to create a spine (https://github.com/catherinezucker/CZ_Code_Snip

[2019-07-29 01:37] hongliliu commented on #32
Hi Catherine,

	Thank you very much for your reply along with the useful comments. Over past a few days, I have tried with different column densities to make the mask. Finally, I have obtained a spine that looks reasonable. The RadFil is very useful to me, and thus I will use, and cite it in our coming work. Thank you again for your kind help.

	Cheers,
Hongli

-Chile Fondecyt Postdoctoral Fellows

[2019-07-31 15:58] catherinezucker commented on #32
No worries -- glad it was helpful! Looking forward to reading your manuscript!

~ Catherine

[2020-03-09 22:22] ohseanuconn opened #33 "Filament Spine Dimension Error"
Dear Catherine,

When making the filament spine in the Radfil Tutorial using the code shown below,

radobj.make_fil_spine(beamwidth=36.3,verbose=False)
fits.writeto("./Tutorial_Data/Musca_spine.fits", radobj.filspine.astype(int), overwrite=True)

I am getting a 'TypeError: only dimensionless scalar quantities can be converted to Python scalars'. How can I work around this error to create my filame

[2020-03-09 22:27] catherinezucker commented on #33
Hi Sean,

Can you send me a full error message, and also what version of astropy you
are using?

Thanks,
Catherine

On Mon, Mar 9, 2020 at 6:22 PM ohseanuconn <notifications@github.com> wrote:

[2020-03-09 22:50] ohseanuconn commented on #33
Hi Catherine,

I'm using Astropy Version 4.
The full error message is really long so I attached it below.
[filament spine error.pdf](https://github.com/catherinezucker/radfil/files/4309297/filament.spine.error.pdf)

Thanks again,
Sean

[2020-03-10 01:52] catherinezucker commented on #33
Hi Sean,

You'll need to update your version of the filfinder package, which is a radfil dependency. Type this into your terminal:

pip install git+https://github.com/e-koch/FilFinder.git

Then the tutorial should run for you.

Best,
Catherine

[2020-03-10 01:57] #32 closed

[2020-03-10 17:18] ohseanuconn commented on #33
Hi Catherine,

I'm unfortunately still getting the same error message.
I also tried uninstalling and reinstalling the filfinder package but again got the same error.

Best,
Sean

[2020-03-10 22:48] catherinezucker commented on #33
Hi Sean,

When you type this...

import fil_finder
print(fil_finder.__version__)

Into your jupyter notebook, what does it say for the version?

~ Catherine

On Tue, Mar 10, 2020 at 1:18 PM ohseanuconn <notifications@github.com> wrote:

[2020-03-11 01:56] ohseanuconn commented on #33
It says Version 1.6.

[2020-03-11 02:14] catherinezucker commented on #33
Hi Sean,

It looks like your filfinder package didn't actually get updated to
the latest version on GitHub. That's the problem. You'll need to
update to 2.0.dev913. "pip install fil_finder" won't work. If the
command I gave you also won't work (pip install
git+https://github.com/e-koch/FilFinder.git) you can try downloading
the directory from GitHub and running "python setup.py install" in the
top

[2020-03-11 02:25] ohseanuconn commented on #33
Hi Catherine,

Installing from the repository worked! It is now working with version 2.0.dev0.
Thank you so much!

Best,
Sean

[2020-03-11 02:26] catherinezucker commented on #33
Yay! You're welcome. I'll also ask Eric (the FilFinder developer) to see if it's possible to update pypi. 

[2020-03-11 02:26] #33 closed

[2021-05-30 06:57] OshinoMoumou opened #35 "Possible improvement for method 'curveorder'"
Greetings!
I noticed that curveorder method referred a StackOverflow post, while a [recent comment](https://stackoverflow.com/questions/37742358/sorting-points-to-form-a-continuous-line#comment116080374_37744549) to it says that the original method is not robust for noisy data. and it fails in graph construction stage.
I'm trying to learn the usefulness of such small updates on StackOverflow. Woul